<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name='description' content='Kapper Bouidi Borgerhout Antwerpen met jaren ervaring in knippen, baard trimmen, ontkrulling voor zowel heren als kinderen.' />
    <meta name='keywords' content='kapper,wilrijk,antwerpen,kapsalon,knippen,brushen,scheerbeurt,snit,barbier,barbershop,herenkapper,edegem,berchem' />
    <meta name='author' content='Azdine El Jattari' />
    <meta name='designer' content='Azdine El Jattari' />
    <meta name='contact' content='azdine.eljattari@hotmail.com' />
    <meta name='copyright' content='Copyright (c) 2021 AzdineWebdeign &amp; development. All rights reserved.' />
    <link rel="shortcut icon" href="~/Images/favicon.png">
    <title>@ViewBag.Title - Bouidi</title>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" />
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Styles/Home/Home.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body id="page-top">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="padding-top: 0; padding-bottom: 0;" id="mainNav">
        <div class="container">
            <img style="padding-top: 0;" href="#page-top" data-aos="fade-down" class="navbar-brand js-scroll-trigger img-responsive" alt="logo-brand" src="~/Images/logo2.png" width="100" />
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive" data-aos="zoom-in-down">
                <ul class="navbar-nav ml-auto my-2 my-lg-0">
                    <li class="nav-item position-relative"><i class="icon-nav-item-mobile fas fa-home position-absolute text-white"></i>@Html.ActionLink("Homepagina", "Home", "Home", null, new { @class = "nav-link appointment-nav-link-mobile", @style = "margin-left: 5px;" })</li>
                    <li class="nav-item position-relative"><i class="icon-nav-item-mobile fas fa-calendar-check position-absolute text-white"></i>@Html.ActionLink("Afspraak maken", "Index", "Appointment", null, new { @class = "nav-link appointment-nav-link-mobile", @style = "margin-left: 5px;" })</li>
                    <li class="nav-item position-relative"><i class="icon-nav-item-mobile fas fa-phone-alt position-absolute text-white"></i>@Html.ActionLink("Contact", "Index", "Contact", null, new { @class = "nav-link appointment-nav-link-mobile", @style = "margin-left: 5px;" })</li>
                </ul>
            </div>
        </div>
    </nav>
    @RenderBody()
    <button class="scrollToTopBtn">☝️</button>
    <!-- Footer-->
    <footer class="mt-md-5 bg-light position-relative d-flex justify-content-center" style="padding-bottom: 7.5%; width: 105%;">
        <div class="container position-absolute py-md-5"><div class="copyright-text-mobile small text-center text-muted" style="margin-right: 10%;">Copyright © 2021 - Made by <a href="https://www.linkedin.com/in/azdine-el-jattari-1361a1183/">El Jattari Azdine</a> with &hearts;</div></div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <!-- AOS animate -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <!-- Core theme JS-->
    <script src="~/Js/Home.js"></script>
    <script>
        $(function () {
            $('#dp').datepicker();
        });
    </script>
    <script>
        $('#resultLoading').hide();
        $("#submit-button").click(function () {
            $('#submit-button').hide();
            $('#resultLoading').show();
        });
        $("#contact-submit-button").click(function () {
            $('#contact-submit-button').hide();
            $('#resultLoading').show();
        });
    </script>
    <script type="text/javascript">
        (function () {
            var options = {
                whatsapp: "+32465072972", // WhatsApp number
                call: "+32465072972", // Call phone number
                call_to_action: "Contacteer ons", // Call to action
                button_color: "#666666", // Color of button
                position: "left", // Position may be 'right' or 'left'
                order: "whatsapp,call", // Order of buttons
            };
            var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
            var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
            s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
            var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
        })();
    </script>
</body>
</html>
